html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    }
    .top{
        text-align: center;
        background-image: linear-gradient(to right, rgb(247, 0, 255), rgb(59, 17, 63));
        color: rgb(241, 236, 236);
        padding: 10px;
    }
    #weather-search{
        display: block;
        font-weight: bold;
        font-size:larger;
    }
    
    #title-search{
        display: block;
        
    }
    
    .top-header{
        border: 5px;
        border-radius: round;
    }
    
    .card-body{
        border: black;
    }
    
    /* all uv options for styling of elements */

    .UVGood {
        background-color: green;
        border-style: solid;
        border-radius: round;
        color: rgb(241, 236, 236);
    
    }
    
    .UVMod{
        background-color: yellow;
        border-style: solid;
        border-radius: round;
        color: rgb(12, 12, 12);
    }
    
    .UVBad{
        background-color: red;
        border-style: solid;
        border-radius: round;
        color: rgb(12, 11, 11);
    }